<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/w3.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/w3-theme-black.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/font-awesome.min.css') }}">
</head>
<body id="myPage">



<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>TEA LEAVES DISEASEDETECTION</a>
  <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
  <a href="/leaf" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Leaf</a>
 </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="{{ url_for('static', filename='/images/ficus_leaves_3-wallpaper-1920x1080.jpg') }}" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">TEA LEAF</button>
  </div>
</div>



<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>MODELS EMPLOYEED FOR THE PROJECT</h2>
<p>Transfer Learning Models</p>

<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="{{ url_for('static', filename='/images/[CITYPNG.COM]HD Green Circle Transparent Background - 1157x1157.png') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>VGG 16</h3>
  <p>VGG-16 is a convolutional neural network that is 16 layers deep. The pretrained network can classify images into 1000 object categories, such as keyboard, mouse, pencil, and many animals.</p>
</div>

<div class="w3-quarter">
  <img src="{{ url_for('static', filename='/images/[CITYPNG.COM]HD Green Circle Transparent Background - 1157x1157.png') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>ResNet50</h3>
  <p>ResNet50 is a convolutional neural network that is 50 layers deep. The pretrained network can classify images into 1000 object categories, such as keyboard, mouse, pencil, and many animals.</p>
</div>

<div class="w3-quarter">
  <img src="{{ url_for('static', filename='/images/[CITYPNG.COM]HD Green Circle Transparent Background - 1157x1157.png') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>InceptionV3</h3>
  <p>InceptionV3 is a convolutional neural network that is 48 Layers deep. The pretrained network can classify images into 1000 object categories, such as keyboard, mouse, pencil, and many animals.</p>
</div>

<div class="w3-quarter">
  <img src="{{ url_for('static', filename='/images/[CITYPNG.COM]HD Green Circle Transparent Background - 1157x1157.png') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Xception</h3>
  <p>Xception is a convolutional neural network that is 71 layers deep. The pretrained network can classify images into 1000 object categories, such as keyboard, mouse, pencil, and many animals.</p>
</div>

</div>
</div>

</body>
</html>
